.App {
  text-align: center;
  
   
}

.AddMovie {
  text-align: center;
  margin-top: 20px;
}
.AddMovie input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
}
.AddMovie button {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
}
.AddMovie button:hover {
  background-color: rgb(196, 96, 94);
}

.MovieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  
}

.MovieContainer :hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.MoviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  
}
.MovieCard {
  width: 200px;
  height: 360px;
  margin: 10px;
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
background-color: aliceblue;



}

.MovieCard:hover {
  box-shadow: 0px 0px 10px 0px rgba(248, 141, 141, 0.75);
  animation: shake 0.5s;
 
  
}


.addnewmovie  { 

  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgb(255, 82, 82);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.search {

  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgb(255, 82, 82);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.app {
  background-image: url("https://wallpaperaccess.com/full/3968079.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
  width: 100vw;
  
}

.movie {
  background-image: url("https://wallpaperaccess.com/full/3968079.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
  width: 100vw;
align-items:center ;
  }

 h1 {
   text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff;
}

